!pip install textstat

import requests
import re
import textstat
import torch
import numpy as np
from bs4 import BeautifulSoup
from transformers import AutoModelForSequenceClassification, AutoTokenizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
